.calculator-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.calculator-row {
  display: grid;
  grid-template-columns: repeat(3, 10rem) ;
  column-gap: 1rem;
  align-items: center;
}

.calculator-row select,
.calculator-row input {
  width: 100%;
  box-sizing: border-box;
}
