<section class="calculator-container">
  <div class="calculator-row">
    <label for="baseCurrencySelect">Base Currency</label>

    <input
      id="baseCurrencyInput"
      name="baseCurrencyAmount"
      type="number"
      min="0"
      step="0.01"
      [value]="baseAmount()"
      (input)="onBaseCurrencyAmountChange($event.target.value)"
    />

    <select
      id="baseCurrencySelect"
      name="baseCurrencyCode"
      [value]="baseCurrencyCode()"
      (change)="onBaseCurrencyChange($event)"
    >
      @for (opt of currencyOptions; track opt.code) {
      <option [value]="opt.code">{{ opt.code }} — {{ opt.name }}</option>
      }
    </select>
  </div>

  <div class="calculator-row">
    <label for="targetCurrencySelect">Target Currency</label>

    <input
      id="targetCurrencyInput"
      name="targetCurrencyAmount"
      type="number"
      min="0"
      step="0.01"
      [value]="targetAmount()"
      (input)="onTargetCurrencyAmountChange($event.target.value)"
    />

    <select
      id="targetCurrencySelect"
      name="targetCurrencyCode"
      [value]="targetCurrencyCode()"
      (change)="onTargetCurrencyChange($event)"
    >
      @for (opt of currencyOptions; track opt.code) {
      <option [value]="opt.code">{{ opt.code }} — {{ opt.name }}</option>
      }
    </select>
  </div>
</section>
