<div class="exchange-rate-table">
  <div class="exchange-rate-table__controls">
    <label class="exchange-rate-table__base-currency">
      Base Currency
      <input
        type="text"
        [value]="DEFAULT_BASE_CURRENCY_CODE"
        (input)="onBaseCurrencyChange($event.target.value)"
      />
    </label>

    <mat-form-field class="exchange-rate-table__filter" appearance="outline">
      <mat-label>Filter currencies</mat-label>
      <mat-select
        multiple
        panelClass="exchange-rate-filter-panel"
        [value]="selectedCurrencyCodes()"
        (selectionChange)="onCurrencyFilterChange($event.value)"
      >
        @for (code of supportedCurrencyCodes; track code) {
        <mat-option [value]="code">{{ code }} - {{ CURRENCY[code] }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <app-button
      [svg]="clearFilterSvg"
      [iconOnly]="true"
      appearance="icon"
      shape="circle"
      (click)="clearCurrencyFilter()"
    />
  </div>

  @if (conversionRows().length) {
  <app-table [dataSource]="conversionRows()" [columns]="tableColumns" />
  }
</div>
