.exchange-rate-table {
  .--controls {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 12px;
  }

  .--search {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .--filter {
    min-width: 260px;
  }
}
