@use 'index' as *;

:root {
  @include define-palette($palette-dark);

  color-scheme: dark;
}

:root.theme-light {
  @include define-palette($palette-light);
  
  color-scheme: light;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: fonts(body);
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.25s ease, color 0.25s ease;
}
 
